/* header */
header { width: 100%; height: 100vh; position: relative; } 
/* nav */
nav { width: 100%; height: auto; transition: all .3 ease-in-out; } 
.gnb { width: 100%; height: 10rem; justify-content: space-between; align-items: center; display: flex; padding: 0 3rem; border-bottom: 1px solid rgba(255,255,255,.5); } 

header .popup{position: fixed; top: 30%; left: 50%; padding: 2rem; background: rgba(255,255,255,.5); border-radius: 1.25rem; z-index:  999999999999;}
header .popup p{line-height: 250%; position: relative; padding-top: 2.5rem; text-align: center; color: #333; font-weight: 400;}
header .popup .close_btn{position: absolute; top: 1rem; right: 1rem; cursor: pointer; color: #333;}

.main_visual{position: absolute; margin: auto; background-blend-mode: #d9d9d9; justify-content: center; align-items: center; width: 100%; height: 100vh;}
.main_visual .visual_bg{position: relative; display: flex; justify-content: center; align-items: center; margin: auto; width: 100%; height: 100%; font-size: 1.8rem;}
.main_visual .visual_bg>li{position: absolute;width: 100%; height: 100%; top: 0; left: 0; z-index: -1;}
.main_visual .visual_bg>li>img{width: 50rem; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
.main_visual .visual_bg .visual_01{background: url('../sources/img/main_bg1.jpg') no-repeat center center / cover;}
.main_visual .visual_bg .visual_02{background: url('../sources/img/main_bg2.jpg') no-repeat center center / cover;}
.main_visual .visual_bg .visual_03{background: url('../sources/img/main_bg3.jpg') no-repeat center center / cover;}
.main_visual .visual_bg .visual_04{background: url('../sources/img/main_bg4.jpg') no-repeat center center / cover;}

.topUtil { position: absolute; right: 50%; top: 0; justify-content: center; align-items: center; transform: translatex(190%); padding-bottom: 1rem; } 
.util { display: flex; flex-wrap: nowrap; text-align: center; } 
.util li { display: inline-block; background: #333; width: 8rem; height: 2.8rem; font-size: 1.4rem; font-weight: normal; line-height: 200%; } 
.util li:nth-of-type(2) { display: inline-block; background: #333; width: 13rem; height: 2.8rem; font-size: 1.4rem; font-weight: normal; line-height: 200%; } 
.util li.lang { background: var(--primary); } 

.logo { display: inline-block; width: 25rem; height: 5rem; background: url('../sources/img/logo.png') no-repeat center center / cover; } 
.logo a { text-indent: -999999999999px; color: transparent; } 
.gnb_bg { width: 100%; height: 100%; min-height: 40vh; max-height: 80vh; position: absolute; left: 0; top: 10rem; padding-bottom: 2rem; display: none; transition: all .3s ease-in-out; border-top: 1px solid rgba(0,0,0,.5); } 
.gnb_bg ul { display: flex; } 
.dep1 { transition: all .3s ease; padding-top: 2rem; } 

nav:hover { background: #fff; } 
nav:hover .dep1>a { color: var(--txt); } 
nav:hover .logo { background: url('../sources/img/logo_black.png') no-repeat center center / cover; } 
.dep1.m1:hover .gnb_bg { display: block; width: 100vw; } 
.dep1.m2:hover .gnb_bg { display: block; } 
.dep1.m3:hover .gnb_bg { display: block; } 
.dep1.m4:hover .gnb_bg { display: block; } 
.dep1.m5:hover .gnb_bg { display: block; } 
.dep1.m6:hover .gnb_bg { display: block; } 

.dep1 a { position: relative; } 
.dep1>a::before { content: ''; display: block; width: 100%; height: .2rem; background: var(--primary); position: absolute; bottom: -2.6rem; left: 0; visibility: hidden; } 
.dep1>a:hover { font-size: 120%; } 
.dep1:hover>a::before { visibility: visible; } 
.icon_search:hover i { color: var(--primary); } 
.icon_menu:hover:hover i { color: var(--primary); } 

.search_window { display: flex; background: #fff url('../sources/img/bg_search.png') center center / cover; height: 25vh; justify-content: center; align-items: center; text-align: center; font-size: 130%; position: relative; } 
.seaerch_window form { text-align: center; align-items: center; justify-content: center; width: 10rem; height: auto; } 
.search_window form input { border: none; font-size: 2rem; padding-bottom: 1rem; padding-right: 5rem; padding-left: 5rem; border-bottom: 2px solid #333; } 
.dep1 .gnb_bg .search_window i { color: #333; margin-left: 3rem; } 
.search_window i.fa-xmark { transform: translateX(30rem); color: #333; } 
.search_window span { color: #333; float: right; transform: translateX(22rem); line-height: 2.6rem; font-weight: 500; font-size: 2rem; opacity: 70%; } 

.menu_title { background: var(--primary) url('../sources/img/bg_gnb_txt.png') center center / cover; width: 25%; height: 100%; text-align: left; position: relative; } 
.menu_title h2 ,.menu_title p.title_cap { margin: 1rem; } 
.menu_title h2 { font-size: 5rem; margin-top: 40%; margin-bottom: 10%; } 
.menu_title p.title_cap { font-size: 2.2rem; font-weight: normal; line-height: 150%; } 
.title_cap { position: relative; margin-top: 1rem; padding-top: 1rem; } 
.title_cap::before { width: 3rem; height: .2rem; background: #fff; content: ''; display: block; position: absolute; top: -10%; left: 0; } 

.container_col { margin-top: 2rem; margin-left: 2rem; margin-right: 4rem; display: flex; flex-direction: column; } 
.menu_list { background: var(--background) url('../sources/img/bg_SNUE.png') no-repeat right bottom; display: flex; flex-wrap: wrap; width: calc(100vw - 25%); overflow: hidden; position: relative; } 
.menu_list h3 { border: 1px solid #d2cfcf; padding: 2rem;; width: 29rem; height: 6rem; text-align: left; font-weight: normal; } 
.menu_list span { float: right; } 
.menu_list a { color: var(--txt); vertical-align: middle; } 

.dep3 { display: flex; flex-direction: column; text-align: left; } 
.dep3 li { margin-top: .8rem; padding: .3rem 4rem; background: url('../sources/img/dep03.gif') no-repeat; background-position: 2rem; } 
.dep3 a { font-weight: normal; font-size: 1.6rem; } 

/* fullmenu */
.fullmenu_wrap { position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background: #fff url(../sources/img/bg_fullmenu.png); display: none; } 
.fullmenu_wrap { display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; } 
.fullmenu_wrap.active { display:block; overflow: auto; } 
.fullmenu_wrap a { color: #333; } 
.fullmenu_group { margin: 2rem auto; max-width: 1600px; height: calc(100% - 4rem); } 
.fullmenu_inside { max-width: 100%; height: 100%; position: relative; overflow: scroll; } 
.fullmenu_inside>.container { margin-right: 30px; } 
.fullmenu_dep1 > li,.fullmenu_dep2 { display: flex; } 
.fullmenu_wrap .fa-xmark { position: absolute; top: 3rem; right: 3rem; color: #333; font-size: 5rem; cursor: pointer; } 
.fullmenu_wrap .fa-xmark:hover { transform: rotate(90deg); } 


.fullmenu_dep1 { display: flex; flex-direction: column; text-align: left; } 
.fullmenu_dep1>li>a { font-size: 3.2rem; line-height: 300%; } 
.fullmenu_dep2 { display: flex; flex-direction: row; } 
.fullmenu_dep2 li { padding: 3.6rem; } 
.fullmenu_dep2 li>a { padding: 1rem 2rem; background: var(--primary); color: #fff; font-weight: 500; } 
.fullmenu_dep3 { display: flex; flex-direction: column; margin-top: 2rem; } 
.fullmenu_dep3 li { padding: 1rem; background: url('../sources/img/dep03.gif')no-repeat; background-position: 1rem 1rem; } 
.fullmenu_dep3 li>a { background: none; color: #333; font-weight: 500; font-size: 1.6rem; } 

/* main */

/* bg */

/* quick */
.notification .inner { position: relative; } 
.quick { background: var(--primary); height: 50rem; width: 60rem; position: absolute; left: 0; top: -5%; border-radius: 5rem; z-index: 99; } 
.quick_top { display: flex; justify-content: space-between; text-align: center; } 
.quick_top_btn>a { display: inline-block; width: 20rem; height: 8rem; background: var(--secondary); line-height: 8rem; } 
.quick_top_btn:first-child a { border-top-left-radius: 5rem; } 
.quick_top_btn:last-child a { border-top-right-radius: 5rem; } 

.quick_top_btn { position: relative; } 
.student::before,.prof::before,.general::before { content: '✓'; display: block; width: 3rem; height: 3rem; border-radius: 50%; background: var(--primary); position: absolute; top: 50%; right: 10%; transform: translateY(-50%); line-height: 150%; display: none; } 
.student.active:before { display: block; } 
.prof.active::before { display: block; } 
.general.active::before { display: block; } 
.student.active>a { background: #fff; color: var(--primary); } 
.prof.active>a { background: #fff; color: var(--primary); } 
.general.active>a { background: #fff; color: var(--primary); } 

.quick_bot { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-top: 1rem; width: 58rem; height: 40rem; position: absolute; top: 8rem; left: 1rem; } 
.quick_bot li { width: 30%; height: 30%; background-size: 5rem; } 
.quick_bot li a { line-height: 20rem; } 

.quick_bot .student_b1 { position: relative; } 
.quick_bot .student_b2 { position: relative; } 
.quick_bot .student_b4 { position: relative; } 
.quick_bot .student_b5 { position: relative; } 
.quick_bot .student_b7 { position: relative; } 
.quick_bot .student_b8 { position: relative; } 
.student_b1:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.student_b2:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.student_b4:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.student_b5:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.student_b7:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.student_b8:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 

.student_b1 { background: url('../sources/img/mIcon01.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.student_b2 { background: url('../sources/img/mIcon05.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.student_b3 { background: url('../sources/img/mIcon06.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.student_b4 { background: url('../sources/img/mIcon17.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.student_b5 { background: url('../sources/img/mIcon02.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.student_b6 { background: url('../sources/img/mIcon03.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.student_b7 { background: url('../sources/img/mIcon01.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.student_b8 { background: url('../sources/img/mIcon07.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.student_b9 { background: url('../sources/img/mIcon04.png') no-repeat center center; background-size: 6rem; background-position: top; } 

.quick_bot .prof_b1 { position: relative; } 
.quick_bot .prof_b2 { position: relative; } 
.quick_bot .prof_b4 { position: relative; } 
.quick_bot .prof_b5 { position: relative; } 
.quick_bot .prof_b7 { position: relative; } 
.quick_bot .prof_b8 { position: relative; } 
.prof_b1 { background: url('../sources/img/mIcon01.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.prof_b2 { background: url('../sources/img/mIcon05.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.prof_b3 { background: url('../sources/img/mIcon06.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.prof_b4 { background: url('../sources/img/mIcon11.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.prof_b5 { background: url('../sources/img/mIcon10.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.prof_b6 { background: url('../sources/img/mIcon03.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.prof_b7 { background: url('../sources/img/mIcon07.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.prof_b8 { background: url('../sources/img/mIcon20.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.prof_b9 { background: url('../sources/img/mIcon10.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.prof_b1:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.prof_b2:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.prof_b4:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.prof_b5:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.prof_b7:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.prof_b8:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 


.quick_bot .general_b1 { position: relative; } 
.quick_bot .general_b2 { position: relative; } 
.quick_bot .general_b4 { position: relative; } 
.quick_bot .general_b5 { position: relative; } 
.quick_bot .general_b7 { position: relative; } 
.quick_bot .general_b8 { position: relative; } 
.general_b1 { background: url('../sources/img/mIcon15.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.general_b2 { background: url('../sources/img/mIcon16.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.general_b3 { background: url('../sources/img/mIcon02.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.general_b4 { background: url('../sources/img/mIcon12.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.general_b5 { background: url('../sources/img/vrImage.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.general_b6 { background: url('../sources/img/mIcon13.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.general_b7 { background: url('../sources/img/mIcon07.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.general_b8 { background: url('../sources/img/mIcon04.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.general_b9 { background: url('../sources/img/mIcon09.png') no-repeat center center; background-size: 6rem; background-position: top; } 
.general_b1:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.general_b2:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.general_b4:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.general_b5:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.general_b7:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 
.general_b8:before { height: .5rem; width: .5rem; background: #fff; position: absolute; top: 50%; right: -2rem; transform: translateY(-50%); content: ''; display: block; border-radius: 100%; } 

/* notification */
.notification { height: auto; position: relative; width: 100%; height: 60rem; background: #fff } 
.n_right_wrap { display: flex; position: absolute; right: 5%; top: 10%; width: 50%; height: auto; } 
.tab { display: flex; flex-direction: column; gap: 3rem; margin-top: 6rem; } 
.tab a { color: #333; font-weight: normal; font-size: 2rem; padding-left: 1rem; } 
.tab li { position: relative; } 
.tab li:before { content: ''; display: block; width: 9rem; height: .2rem; background: #e2e2e2; position: absolute; left: 50%; bottom: -2rem; transform: translateX(-50%); } 
.notification::before { content: ''; display: block; height: 45rem; width: 100%; position: absolute; left: -50%; top: 10%; background: #f4f4f4; border-top-right-radius: 5rem; border-bottom-right-radius: 5rem; } 
.tablist { display: flex; flex-direction: column; gap: 3rem; margin-top: 8rem; margin-left: 8rem; } 
.tablist a { color: #333; font-weight: normal; position: relative; } 
.tablist em { background: #eee; padding: 1rem 2rem; border-radius: 5rem; } 
.tablist .date { float: right; transform: translateX(10rem); } 
.tab_txt { margin-left: 6rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 30rem; line-height: 130%; } 

.tab li.active:nth-of-type(1):before { content: '전체'; display: block; background: #3d4a5a; width: 10rem; height: 5rem; border-radius: 5rem; position: absolute; top: -80%; left: 100%; color:#fff; line-height:5rem; text-align:left; padding-left: 1rem; font-weight: 600; } 
.tab li.active:nth-of-type(2):before { content: '학사'; display: block; background: #3d4a5a; width: 10rem; height: 5rem; border-radius: 5rem; position: absolute; top: -80%; left: 100%; color:#fff; line-height:5rem; text-align:left; padding-left: 1rem; font-weight: 600; } 
.tab li.active:nth-of-type(3):before { content: '공지'; display: block; background: #3d4a5a; width: 10rem; height: 5rem; border-radius: 5rem; position: absolute; top: -80%; left: 100%; color:#fff; line-height:5rem; text-align:left; padding-left: 1rem; font-weight: 600; } 
.tab li.active:nth-of-type(4):before { content: '장학'; display: block; background: #3d4a5a; width: 10rem; height: 5rem; border-radius: 5rem; position: absolute; top: -80%; left: 100%; color:#fff; line-height:5rem; text-align:left; padding-left: 1rem; font-weight: 600; } 
.tab li.active:nth-of-type(5):before { content: '채용'; display: block; background: #3d4a5a; width: 10rem; height: 5rem; border-radius: 5rem; position: absolute; top: -80%; left: 100%; color:#fff; line-height:5rem; text-align:left; padding-left: 1rem; font-weight: 600; } 
.tab li.active:nth-of-type(6):before { content: '입찰'; display: block; background: #3d4a5a; width: 10rem; height: 5rem; border-radius: 5rem; position: absolute; top: -80%; left: 100%; color:#fff; line-height:5rem; text-align:left; padding-left: 1rem; font-weight: 600; } 
.tab li.active:nth-of-type(1)::after { content: '>'; display: block; position: absolute; left: 150%; top: 0; } 
.tab li.active:nth-of-type(2)::after { content: '>'; display: block; position: absolute; left: 150%; top: 0; } 
.tab li.active:nth-of-type(3)::after { content: '>'; display: block; position: absolute; left: 150%; top: 0; } 
.tab li.active:nth-of-type(4)::after { content: '>'; display: block; position: absolute; left: 150%; top: 0; } 
.tab li.active:nth-of-type(5)::after { content: '>'; display: block; position: absolute; left: 150%; top: 0; } 
.tab li.active:nth-of-type(6)::after { content: '>'; display: block; position: absolute; left: 150%; top: 0; } 

/* calender */
.calender {margin-top: 2rem;} 
.calender ul { display: flex; width: 100%; height: 100%; } 
.calender_left { width: 25%; height: auto; background: #fff; margin-top: 5rem;} 
.calender_slider_btn { display: flex; justify-content: left; align-items: center; padding-bottom: 2rem; padding-left: 2rem; } 
.calender_slider_btn div { color: #3d4a5a; border: 1px solid #3d4a5a; border-radius: 100%; width: 4rem; height: 4rem; line-height: 5rem; vertical-align: middle; text-align: center; margin-right: 1rem; } 
.calender_slider_btn .pause_btn { line-height: 4rem; } 
.calender_slider_btn .add_btn { background: #c0e4f3; border: none; } 
.calender_title { position: relative; font-size: 5rem; text-align: left; padding-top: 5rem; } 
.calender_title::before { content: ''; display: block; height: .3rem; width: 25rem; background: #3d4a5a; position: absolute; top: 0; left: 0; } 
.calender_title,.calender_txt { color: #3d4a5a; padding-left: 2rem; padding-bottom: 2rem; } 
.calender_txt { font-size: 3rem; text-align: left; font-weight: normal; } 
.calender_txt .snue { color: var(--primary); } 
.calender_slider {width: 75%; height: auto; align-items: center; display: flex; padding-top: 3rem;} 
.calender_slider .calender_item{ min-width: 35rem; max-width: 43rem; max-height: 20rem; padding: 2rem; padding-top: 0; margin-right: 2rem; margin-top: 5rem; border: 4px solid var(--primary); border-radius: 2rem; position: relative;  font-weight: 400; }
.calender_slider .calender_item .date{width: 8rem; height: 8rem; border-radius: 50%;  position: absolute; top: -5rem; left: 2rem; background: var(--primary); line-height: 150%; padding: 1rem 0rem; font-size: 1.8rem;}
.calender_slider .calender_item .date em{font-weight: 600; font-size: 2.6rem;}
.calender_slider .calender_item .term{padding-top: 5rem; font-size: 1.8rem; color: #666 ;}
.calender_slider .calender_item .tit{padding-top: 2rem; font-size: 2rem; line-height: 150%; color: #333;}

/* news */
.news { padding-top: 6rem; position: relative; } 
.news:before { content: ''; display: block; width: 100%; height: 50%; background: #f4f4f4; border-radius: 3rem; position: absolute; top: 0; } 
.news ul { display: flex; width: 100%; height: 60rem; position: relative; } 
.announcement { width: 35%; background: url('../sources/img/bgPopWrap.png') bottom; } 
.announcement h2 { color: #3d4a5a; font-size: 3rem; font-weight: 600; text-align: left; padding-left: 2rem; padding-bottom: 5rem; } 
.announcement div { color: #3d4a5a; } 
.announcement_slider { position: relative; } 
.announcement_slider div { position: absolute; top: 0; left: 0rem; cursor: pointer;} 
.announcement_slider div:hover img{transform: scale(1.1); transition: all 0.3s ease-in-out;} 
.announcement_slider img { width: 450px; height: 420px; border-radius: 5rem; } 
.SNUE_news { width: 84%; height: auto; padding-left: 15rem; justify-content: center; align-items: center; } 
.news_slider { width: 100%; overflow: hidden; } 
.news_slider .slides_container { width: 100%; height: 100%; display: flex; margin-top: 10rem; } 
.news_slider .slides_container li { padding: 0 2rem; margin: 0 2rem; border-radius: 1.25rem; position: relative; text-align: left; } 
.news_slider .slides_container li a { display: inline-block; color: #333; font-weight: 500; width: 40rem; height: 10rem; } 
.news_slider .slides_container li a::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 44rem; height: 36rem; border: 3px solid var(--primary); border-radius: 1.25rem; visibility: hidden; } 
.news_slider .slides_container li:hover a::before { visibility: visible; } 
.news_slider .slides_container li img { margin-bottom: 2rem; width: 100%; max-width: 40rem; height: auto; overflow: hidden; background: #e9ebed; } 
.news_slider .slides_container span.news_date { float: right; transform: translateY(5rem); opacity: 70%; font-size: 1.6rem; font-weight: 400; } 

.news_slider_btn { display: flex; justify-content: center; align-items: center; padding-bottom: 2rem; position: absolute; bottom: 0; left: 12%; } 
.news_slider_btn div { color: #3d4a5a; border: 1px solid #3d4a5a; border-radius: 100%; width: 4rem; height: 4rem; line-height: 5rem; vertical-align: middle; text-align: center; margin-right: 1rem; cursor: pointer; } 
.news_slider_btn .pause_btn { line-height: 4rem; } 
.news .control { position: absolute; top: 20%; left: 36%; color: #3d4a5a; gap: 1rem; } 
.news .control { display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 2rem; } 
.news .control div { color: #3d4a5a; border: 1px solid #3d4a5a; border-radius: 100%; width: 4rem; height: 4rem; line-height: 5rem; vertical-align: middle; text-align: center; margin-right: 1rem; cursor: pointer; } 
.news .control:before { width: .5rem; height: 16rem; content: ''; display: block; background: #e0e7ed; position: absolute; bottom: -60%; left: 37%; transform: translateY(1.4rem); } 
.news .control .pause_btn { line-height: 4rem; } 
.news .control .add_btn { background: #c0e4f3; border: none; } 
.SNUE_news { justify-content: center; align-items: center; position: relative; } 
.SNUE_news h2 { color: #3d4a5a; font-size: 3rem; font-weight: 600; text-align: left; padding-left: 1rem; } 
.SNUE_news h2 span.gallery { position: absolute; bottom: 3rem; right: 1rem; } 
.SNUE_news h2 span.gallery a { color: #f4f4f4; font-size: 10rem; font-weight: 800; } 
.SNUE_news span.snue { color: var(--primary); } 

/* SNUE edu */
.snue_edu { position: relative; width: 100%; height: 70rem; background: url('../sources/img/edu_bg.jpg'); } 
.snue_edu:before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: calc(100% + 20px); background: url('../sources/img/edu_bg1.png') no-repeat top center / 100% auto, url('../sources/img/edu_bg2.png') no-repeat bottom center / 100% auto; } 
.snue_edu img { vertical-align: middle; } 
.snue_edu h2 { color:#333; text-align: left; padding: 2rem; font-size: 3rem; font-weight: 500; vertical-align: top; } 
.snue_edu h2 span { position: relative; } 
.snue_edu h2 span:before { width: 15rem; height: .3rem; content: ''; display: block; background: #3d4a5a; position: absolute; left: 100%; top: -2rem; } 
.snue_edu em { color: #0070e2; font-size: 4rem; font-weight: 600; } 

.edu_slider_wrap { display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; } 
.edu_slider_wrap .inbox { position: relative; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; } 
.edu_slider_wrap .inbox::before{content: ''; display: block; position: absolute; top: 1rem; left: 0; width: 80%; height: 100%; background: url('../sources/img/edu_point2.png')no-repeat center bottom / contain ; visibility: hidden; } 
.edu_slider_wrap .inbox::after{content: ''; display: block; position: absolute; top: 0rem; right: 0; width: 10rem; height: 100%; background: url('../sources/img/edu_point1.png')no-repeat center top/ contain;  visibility: hidden; } 
.edu_slider_wrap .inbox .title { padding-top: 2rem; width: 25rem; height: 5rem; color: #333; font-weight: 700; font-size: 2.4rem; } 
.edu_slider_wrap .inbox .img::before {content: '+'; display: block; width: 5rem; height: 5rem; background: #ffcc00; position: absolute; bottom: 0; right: 3rem; font-size: 3rem; border-radius: 100%; line-height: 5rem; color: #333; visibility: hidden; z-index: 15; } 
.edu_slider_wrap .inbox .img::after {content: ''; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: #000; border-radius: 100%; opacity: 50%; visibility: hidden;} 
.inbox:hover::before{visibility: visible;}
.inbox:hover::after{visibility: visible;}
.inbox:hover .img::before{visibility: visible;}
.inbox:hover .img::after{visibility: visible;}
.inbox:hover .title{color: transparent;}

.edu_slider_wrap .inbox .img.art { margin-top: 5rem; position: relative; display: block; width: 30rem; height: 30rem; border-radius: 100%; background: url('../sources/img/web_img2.jpg') no-repeat center /cover; box-shadow: 9px 9px 20px rgba(0,0,0,0.10); } 
.edu_slider_wrap .inbox .img.international_lang { margin-top: 5rem; position: relative; display: block; width: 30rem; height: 30rem; border-radius: 100%; background: url('../sources/img/web_img3.jpg') no-repeat center /cover; box-shadow: 9px 9px 20px rgba(0,0,0,0.10); } 
.edu_slider_wrap .inbox .img.software { margin-top: 5rem; position: relative; display: block; width: 30rem; height: 30rem; border-radius: 100%; background: url('../sources/img/web_img4.jpg') no-repeat center /cover; box-shadow: 9px 9px 20px rgba(0,0,0,0.10); } 
.edu_slider_wrap .inbox .img.science { margin-top: 5rem; position: relative; display: block; width: 30rem; height: 30rem; border-radius: 100%; background: url('../sources/img/web_img1.jpg') no-repeat center /cover; box-shadow: 9px 9px 20px rgba(0,0,0,0.10); } 
.edu_slider_wrap .inbox .img.lifelong_edu { margin-top: 5rem; position: relative; display: block; width: 30rem; height: 30rem; border-radius: 100%; background: url('../sources/img/web_img5.jpg') no-repeat center /cover; box-shadow: 9px 9px 20px rgba(0,0,0,0.10); } 
.edu_slider_wrap .inbox .img.dhs { margin-top: 5rem; position: relative; display: block; width: 30rem; height: 30rem; border-radius: 100%; background: url('../sources/img/web_img6.jpg') no-repeat center /cover; box-shadow: 9px 9px 20px rgba(0,0,0,0.10); } 
.edu_slider_wrap .inbox .img.edu_training { margin-top: 5rem; position: relative; display: block; width: 30rem; height: 30rem; border-radius: 100%; background: url('../sources/img/web_img7.jpg') no-repeat center /cover; box-shadow: 9px 9px 20px rgba(0,0,0,0.10); } 
.edu_slider_wrap .inbox .img.music { margin-top: 5rem; position: relative; display: block; width: 30rem; height: 30rem; border-radius: 100%; background: url('../sources/img/web_img8.jpg') no-repeat center /cover; box-shadow: 9px 9px 20px rgba(0,0,0,0.10); } 

.edu_title { display: flex; position: relative; } 
.snue_control_btn { display: flex; justify-content: space-between; align-items: center; padding-bottom: 2rem; position: absolute; top: 60%; right: 5%; } 
.snue_control_btn div { background: #fff; color: #3d4a5a; border-radius: 100%; width: 4rem; height: 4rem; line-height: 5rem; vertical-align: middle; text-align: center; margin-right: 1rem; cursor: pointer; } 
.snue_control_btn .pause_btn { line-height: 4rem; } 
.snue_control_btn .page { background: none; border-radius: none; display: flex; width: 8rem; } 
.snue_control_btn .page span { font-size: 2rem; padding: 0 1rem; } 
.snue_control_btn .page .current { color: #3544b4; font-size: 3rem; } 

/* media */

.media h2 { color: #3d4a5a; text-align: left; font-size: 4rem; font-weight: 800; position: relative; padding-bottom: 2rem; margin-left: 2rem; margin-top: 3rem; } 
.media h2:before { background: #3d4a5a; content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 16rem; height: .3rem; } 

.media_slider { display: flex; justify-content: space-between; position: relative; height: 50rem; } 
.media_slider .category { flex-direction: column; text-align: left; margin-left: 2rem; align-items: flex-end; margin-top: 30rem; } 
.media_slider .category li { position: relative; margin: 2rem 0; } 
.media_slider .category li:before { content: ''; display: block; background: #ececec; width: 100%; height: 1rem; position: absolute; bottom: -.5rem; left: 0; z-index: -999; } 
.media_slider .category a { color: #3d4a5a; font-size: 2.4rem; font-weight: 500; } 

.media_control { display: flex; flex-direction: column; gap: 1rem; margin-top: 25rem; margin-left: 10rem; } 
.media_control div { border: 1px solid #d2cfcf; border-radius: 50%; width: 4rem; height: 4rem; color: #3d4a5a; line-height: 5rem; cursor: pointer; } 
.media_control .pause_btn { line-height: 4rem; } 
.media_control .add_btn { background: #c0e4f3; border: none; } 

.bx-viewport { height: 43rem !important; } 
.m_slider { margin-top: 12rem; } 
.m_slider a{ position: relative;}
.m_slider .news_cap{position: absolute; top: 3px; left: 3px; background:#e5e6e8; width: 10rem; height: 4rem; font-weight: 400; font-size: 1.8rem; color: #333; line-height: 4rem; border-radius: 1em 0 1rem 0;}
.m_slider img{ border-radius: 2.5rem; border: 3px solid transparent; cursor: pointer; width: 100%;}
.m_slider a:hover img{border: 3px solid var(--primary);}
.m_slider a:hover .news_cap{background: var(--primary); color: #fff;}

.edu_youtube { margin-right: 2rem; } 
.edu_youtube .tit { color: #3d4a5a; font-size: 2.4rem; position: relative; text-align: left; padding: 2rem 0; margin-top: 10rem; } 
.edu_youtube .tit:before { width: 4.5rem; height: .3rem; content: ''; display: block; background: #3d4a5a; position: absolute; top: 0; } 
.edu_youtube iframe { width: 35rem; height: 23.5rem; border-radius: 2.5rem; } 
.subtitle_box { width: 100%; height: 10rem; background: #333; margin-top: -5rem; border-radius: 2.5rem; text-align: left; } 
.subtitle_box a { line-height: 15rem; padding: 2rem; font-size: 1.6rem; } 
.subtitle_box span { font-size: 1.6rem; padding-left: 2rem; } 

/* footer */
footer { background: #33404f; height: auto; width: 100%; font-weight: normal; padding-bottom: 3rem; justify-content: center; align-items: center; font-size: 80%; } 
footer ul li { cursor: pointer; } 
.footer_row { display: flex; justify-content: space-between; align-items: center; } 
.footer_nav { justify-content: left; align-items: left; position: relative; } 
.footer_nav ul { display: flex; text-align: left; } 
.footer_nav ul li { border: 1px solid #8c95a1; width: 40rem; padding: 1.5rem 1rem; margin-bottom: 1rem; vertical-align: middle; cursor: pointer; } 
.footer_nav ul li:nth-child(1) { border-right: none; } 
.f_nav_dep2 { list-style: disc; width: 80rem; height: auto; display: flex; flex-wrap: wrap; background: #33404f; border: 1px solid #8c95a1; padding: 3rem 5rem; position: absolute; bottom: 100%; left: 0; justify-content: space-between; align-items: center; } 
.f_nav_dep2 li { flex-basis: 33%; } 
.f_nav_dep2 a { font-size: 1.6rem; font-weight: light; } 
.footer_nav .f_nav_dep2 li { border: none; padding: 0; } 
.footer_nav ul li .fa-bars { float: right; } 
.footer_sns ul,.footer_sns div { display: flex; padding: 0 2rem; } 
.footer_sns ul { display: flex; } 
.footer_sns ul li { padding: 0 1rem; opacity: 40%; } 
.footer_link ul { display: flex; margin: 3rem 0; justify-content: space-between; align-items: center; text-align: center; } 
.footer_link ul li { margin-right: 2rem; opacity: 80%; } 
.footer_info .inner { display: flex; flex-direction: row; justify-content: center; align-items: center; text-align: center; } 
.footer_info p { padding-right: 1rem; } 
.copyright { font-size: small; margin-top: 3rem; } 