/* header */
header{width: 100%; height: 100vh; background:  url('../sources/img/main_bg2.jpg') no-repeat center center / cover; }
/* nav */
nav{width: 100%; height: auto; transition: all .3 ease-in-out;  }
.gnb{width: 100%; height: 10rem; justify-content: space-between; align-items: center; display: flex; }

.logo{display: inline-block; width: 25rem; height: 5rem; background: url('../sources/img/logo.png') no-repeat center center / cover;}
.logo a{text-indent: -999999999999px; color: transparent;}
.gnb_bg{width: 100%; height: 100%; min-height: 40vh; max-height: 80vh; position: absolute; left: 0; top: 10rem; padding-bottom: 2rem; display: none; transition: all .3s ease-in-out;}
.gnb_bg ul{display: flex;}
.dep1{transition: all .3s ease;}
.gnb:hover{background: #fff;}
.gnb:hover .dep1>a{color: var(--txt);}
.gnb:hover .logo{background: url('../sources/img/logo_black.png') no-repeat center center / cover;}
.dep1.m1:hover .gnb_bg{display: block; }
.dep1.m2:hover .gnb_bg{display: block; }
.dep1.m3:hover .gnb_bg{display: block; }
.dep1.m4:hover .gnb_bg{display: block; }
.dep1.m5:hover .gnb_bg{display: block; }
.dep1.m6:hover .gnb_bg{display: block; }

.menu_title{background: var(--primary) url('../sources/img/bg_gnb_txt.png') center center / cover; width: 25%; height: 100%; text-align: left;}
.menu_title h2 ,.menu_title p.title_cap{margin: 1rem;}
.menu_title h2{font-size: 5rem;margin-top: 40%; margin-bottom: 10%;}
.menu_title p.title_cap{ font-size: 2.2rem; font-weight: normal; line-height: 150%;}
.title_cap{position: relative; margin-top: 1rem; padding-top: 1rem;}
.title_cap::before{width: 3rem; height: .2rem; background: #fff; content: ''; display: block; position: absolute; top: -10%; left: 0;}

.container_col{margin-top: 2rem; margin-left: 2rem; margin-right: 4rem; display: flex; flex-direction: column;}
.menu_list{background: var(--background) url('../sources/img/bg_SNUE.png') no-repeat right bottom;  display: flex; flex-wrap: wrap; width: calc(100vw - 25%); overflow: hidden; }
.menu_list h3{border: 1px solid #d2cfcf; padding: 2rem; ; width: 29rem; height: 6rem; text-align: left; font-weight: normal;}
.menu_list span{float: right;}
.menu_list a{color: var(--txt); vertical-align: middle;}

.dep3 {display: flex; flex-direction: column; text-align: left;}
.dep3 li{margin-top: .8rem; padding: .3rem 4rem; background: url('../sources/img/dep03.gif') no-repeat; background-position: 2rem;}
.dep3 a{font-weight: normal; font-size: 1.6rem;}

/* main */

/* bg */

/* quick */
main{position: relative;}
.quick{background: var(--primary); height: 50rem; width: 60rem; position: absolute; left: 3rem; top: 20%; border-radius: 5rem; z-index: 99;}
.quick_top{display: flex; justify-content: space-between; text-align: center;}
.quick_top_btn>a{display: inline-block; width: 20rem; height: 8rem; background: var(--secondary); line-height: 8rem;}
.quick_top_btn:first-child a{border-top-left-radius: 5rem;}
.quick_top_btn:last-child a{border-top-right-radius: 5rem;}

.quick_bot{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-top: 1rem; width: 58rem; height: 40rem; position: absolute; top: 8rem; left: 1rem;}
.quick_bot li{width: 30%; height: 30%;}
.quick_bot li a{line-height: 20rem;}

.quick_bot .student_b1{position: relative;}
.quick_bot .student_b2{position: relative;}
.quick_bot .student_b4{position: relative;}
.quick_bot .student_b5{position: relative;}
.quick_bot .student_b7{position: relative;}
.quick_bot .student_b8{position: relative;}
.student_b1:before{height: 8rem; width: .2rem; background: #fff; position: absolute; top: 2rem; right: -2rem; content: ''; display: block;}
.student_b2:before{height: 8rem; width: .2rem; background: #fff; position: absolute; top: 2rem; right: -2rem; content: ''; display: block;}
.student_b4:before{height: 8rem; width: .2rem; background: #fff; position: absolute; top: 2rem; right: -2rem; content: ''; display: block;}
.student_b5:before{height: 8rem; width: .2rem; background: #fff; position: absolute; top: 2rem; right: -2rem; content: ''; display: block;}
.student_b7:before{height: 8rem; width: .2rem; background: #fff; position: absolute; top: 2rem; right: -2rem; content: ''; display: block;}
.student_b8:before{height: 8rem; width: .2rem; background: #fff; position: absolute; top: 2rem; right: -2rem; content: ''; display: block;}

.student_b1{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.student_b2{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.student_b3{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.student_b4{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.student_b5{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.student_b6{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.student_b7{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.student_b8{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.student_b9{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}

.quick_bot .prof_b1{position: relative;}
.quick_bot .prof_b2{position: relative;}
.quick_bot .prof_b4{position: relative;}
.quick_bot .prof_b5{position: relative;}
.quick_bot .prof_b7{position: relative;}
.quick_bot .prof_b8{position: relative;}
.prof_b1{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.prof_b2{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.prof_b3{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.prof_b4{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.prof_b5{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.prof_b6{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.prof_b7{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.prof_b8{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.prof_b9{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}

.quick_bot .general_b1{position: relative;}
.quick_bot .general_b2{position: relative;}
.quick_bot .general_b4{position: relative;}
.quick_bot .general_b5{position: relative;}
.quick_bot .general_b7{position: relative;}
.quick_bot .general_b8{position: relative;}
.general_b1{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.general_b2{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.general_b3{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.general_b4{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.general_b5{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.general_b6{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.general_b7{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.general_b8{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}
.general_b9{background: url('../sources/img/gnb_txt_icon01.png') no-repeat center center; background-size: 6rem; background-position: top;}

/* footer */