.wrap { width: 100%; text-align: center; color: white; font-weight: bold; font-size: 200%; position: relative; } 
.inner { width: 100%; max-width: 1440px; margin: auto; 
    /* background: rgba(255,255,255,.5); */
    height: inherit; } 
/* header { width: 100%; height: 10rem;}  */
/* header nav { background: #888; height: auto;}  */
/* .bg { background: #777; height: 70rem; }  */
/* .quick { background: rgba(144, 144, 144, 0.5); height: 50rem; position: absolute; width: 60rem; left: 50%; top: 0; transform: translate(-40rem) translateY(70rem); }  */
/* main { height: 250rem; }  */
/* section:nth-child(1) { background: #666; height: 50rem; }  */
/* section:nth-child(2) { background: #555; height: 50rem; }  */
/* section:nth-child(3) { background: #444; height: 50rem; }  */
/* section:nth-child(4) { background: #333; height: 50rem; }  */
/* section:nth-child(5) { background: #222; height: 50rem; }  */
footer { height: 27rem; background: #33404f;} 
/* .footer_nav { height: 7rem;  } 
.footer_info { height: 20rem; }  */